SharePoint/Sample Code/Console Applications/UltiProConsole/UltiProConsole/Service References/EmployeeAddressService/EmployeeAddress3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://service4.ultipro.com/services/EmployeeAddress?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UltimateSoftware.WcfTypes.Base" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UltimateSoftware.WcfTypes.Base" minOccurs="0" name="PingResult" nillable="true" type="q1:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>