Operations/Dot Net Applications/RSSERuleCopier/RSSERuleCopier/Service References/rulesengine/RuleEngineEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RuleEngineEndpoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14586/RuleEngineEndpoint.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14586/RuleEngineEndpoint.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14586/RuleEngineEndpoint.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRuleEngineSoapEndpoint_ExecuteRules_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRules" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineSoapEndpoint_ExecuteRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineSoapEndpoint_ExecuteRulesEx_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRulesEx" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineSoapEndpoint_ExecuteRulesEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRulesExResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineSoapEndpoint_ServerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ServerStatus" />
  </wsdl:message>
  <wsdl:message name="IRuleEngineSoapEndpoint_ServerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServerStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IRuleEngineSoapEndpoint">
    <wsdl:operation name="ExecuteRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IRuleEngineSoapEndpoint/ExecuteRules" message="tns:IRuleEngineSoapEndpoint_ExecuteRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRuleEngineSoapEndpoint/ExecuteRulesResponse" message="tns:IRuleEngineSoapEndpoint_ExecuteRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteRulesEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IRuleEngineSoapEndpoint/ExecuteRulesEx" message="tns:IRuleEngineSoapEndpoint_ExecuteRulesEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRuleEngineSoapEndpoint/ExecuteRulesExResponse" message="tns:IRuleEngineSoapEndpoint_ExecuteRulesEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServerStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IRuleEngineSoapEndpoint/ServerStatus" message="tns:IRuleEngineSoapEndpoint_ServerStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRuleEngineSoapEndpoint/ServerStatusResponse" message="tns:IRuleEngineSoapEndpoint_ServerStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRuleEngineSoapEndpoint" type="tns:IRuleEngineSoapEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteRules">
      <soap:operation soapAction="http://tempuri.org/IRuleEngineSoapEndpoint/ExecuteRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteRulesEx">
      <soap:operation soapAction="http://tempuri.org/IRuleEngineSoapEndpoint/ExecuteRulesEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerStatus">
      <soap:operation soapAction="http://tempuri.org/IRuleEngineSoapEndpoint/ServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleEngineEndpoint">
    <wsdl:port name="BasicHttpBinding_IRuleEngineSoapEndpoint" binding="tns:BasicHttpBinding_IRuleEngineSoapEndpoint">
      <soap:address location="http://localhost:14586/RuleEngineEndpoint.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>